.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--space-4) var(--space-16);
  width: 100%;
}

.related {
  margin-top: var(--space-16);
}

.relatedTitle {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-6);
}
